<h1>Playdates for <%= @dog.name  %></h1>


<table>
  <thead>
    <tr> 
      <th>Location</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @dog.playdates.each do |playdate| %>
    <tr>
      <td><%= playdate.location %></td>
      <td><%= playdate.start_time%></td>
      <td><%= playdate.end_time%></td>
      <td><%= playdate.description%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr />
<%= link_to "Back To Dog", dog_path(@dog), class:'btn teal lighten-2 black-text hoverable'%>

<a class="btn teal lighten-2 black-text hoverable" href="#modal1">CONSENT</a>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4>WARNING</h4>
     <p>Though you can schedule a bunch of fun playdates for your dog.... You aint got no clue who the other owner is. You've been warned!.... DONT GO ALONE!</p>
   </div>
  </div>

