<h1>Playdates</h1>

<table>
  <thead>
    <tr> 
      <th>Location</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @playdate.location %></td>
      <td><%= @playdate.start_time%></td>
      <td><%= @playdate.end_time%></td>
      <td><%= @playdate.description%></td>
    </tr>
  </tbody>
</table>
<hr />
<%= link_to 'Home', :root, class:'btn teal lighten-2 black-text hoverable'%>
<%= link_to "Edit Playdate", edit_dog_playdate_path(@dog, @playdate), class:'btn teal lighten-2 black-text hoverable'%>
<%= link_to 'Cancel Playdate', dog_playdate_path(@dog, @playdate), class:'btn teal lighten-2 black-text hoverable', method: :delete%>
